body {
  background-image: url(images/background.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

p, a, table{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.container {
  width: 800px;
  padding: 20px;
  margin: 40px;
  border: solid 4px coral;
  background-color:antiquewhite;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.heading_margin {
  margin-top: 60px;
}

img {
  border: solid 4px coral;
}

table, th, td {
  border: solid 2px black;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: burlywood;
}

hr {
  height: 2px;
  width: 700px;
  background-color: black;
  padding: 0px;
  margin: 10px;
  border: 0;
}

h1 {
  padding: auto;
  margin: auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 64px;
  text-align: center;
}